<div class="hero">
    <div class="hero-text animate__animated animate__fadeInDown">
      <h2 class="hero-text" >SELAMAT DATANG DI TOKO ALAT TULIS</h2>
      <p>EKSPLOR SESUKAMU</p>
      <a href="/products" class="btn animate__animated animate__bounceIn">LIHAT SINI</a>
    </div>
  </div>